@font-face {
    font-family: outfit;
    src: url(../../fonts/Outfit-Black.ttf);
}

.section1 {
    padding: 1rem;
    color:#fff !important;
    font-size: 18px;
    font-family: outfit;

    
}
.section1 p:nth-child(2) {
    color:rgba(255, 255, 255, 0.568);
    font-size: 16px;
}
